services:
  serving:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    restart: always
    ports:
      - 8000:8000
    volumes:
      - ./deploy:/root/ml-app/deploy
    command: sh -c "uvicorn deploy.api:app --host 0.0.0.0 --port 8000 --reload --reload-dir deploy"