services:
  serving:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - 8000:8000
    volumes:
      - ./deploy:/root/ml-app/deploy
    command: sh -c "uvicorn deploy.api:app --host 0.0.0.0 --port 8000 --reload --reload-dir deploy"